<nav class="navbar navbar-expand-lg navbar-light shadow bg-body rounded">
  <div class="container-fluid container">
    <a class="navbar-brand mb-3" href="{{ url_for('index') }}">
      <img src="/static/images/SIAEMIC_logo.gif" height="55">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#conteudo-navbar" aria-controls="conteudo-navbar"
      aria-expanded="false" aria-label="Ativar navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudo-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link h5" href="{{ url_for('index') }}">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="{{ url_for('idu') }}">IDU's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="{{ url_for('odu') }}">ODU's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="{{ url_for('sfp') }}">SFP's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="{{ url_for('module') }}">AGS20L MODULE's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="{{ url_for('coupler') }}">COUPLER's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="{{ url_for('polekit') }}">POLE KIT's</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h5" href="{{ url_for('obu') }}">OBU's</a>
        </li>
      </ul>
    </div>
  </div>
</nav>